.header {
  font-family: 'Signika Negative';
  font-size: 1.3rem;
  padding: 1em 1.5em;
  background-color: $color--primary;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
