<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Watch It</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://use.fontawesome.com/6dc71dfee7.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Signika+Negative:300,400,600" rel="stylesheet">
</head>
<body>
  <div class="app"></div>
  <script src="js/bundle.js"></script>
</body>
</html>
